.btn{
    width: 500px;
   
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    margin:auto;
    padding: 20px;
    margin-top: 50px;
    font-size: large;

    
    
}

.lorem{
    width: 500px;
   
    text-align: center;
    background-color:gray;
    color: white;
    font-weight: bold;
    margin:auto;
    padding: 20px;
    font-size:medium;
    

    
    
}